
<div style="background-color: white;">


  <app-navbar></app-navbar>
<app-sidebar></app-sidebar>
<app-lower-nav></app-lower-nav>









<div class="container">






            <div class="commentbox">

                <div class="col-12 col-sm-12 body">
                    <div class="comment-container">
                            <div class="comment-form">
                                    <app-commentbox (usercomment)="receiveComment($event)"></app-commentbox>
                            </div>
                    </div>
                </div>

            <app-comments [postComment]="comments" (countComments)="recieveCount($event)"></app-comments>
        </div>
    </div>
    <footer style="margin-top: 1000px; text-align: center;">@syed feraz Copyright</footer>
  </div>
