<div style="position: relative;" class="container_shadow">


  <div class="sidenav">
    <a style="text-align: center;" href="#about"><i class="fa fa-check"  style="color: #4187a3;" aria-hidden="true"></i></a>
    <hr class="mt-0">
    <a href="#services"><i  style="color: #4187a3;" class="fa fa-bars" aria-hidden="true"></i></a>
    <a href="#clients"><i style="color: #4187a3" class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
    <a href="#contact"><i style="color: #4187a3" class="fa fa-graduation-cap" aria-hidden="true"></i></a>
    <hr class="m-0">
    <a href="#contact"><i style="color: #4187a3" class="fa fa-users" aria-hidden="true"></i></a>
    <hr class="m-0">
    <a href="#contact"><i style="color: #4187a3" class="fa fa-line-chart" aria-hidden="true"></i></a>
    <a href="#contact"><i style="color: #4187a3" class="fa fa-hand-scissors-o" aria-hidden="true"></i></a>
    <a class="side_bar_margin" href="#contact"><i style="color: #4187a3" class="fa fa-question-circle-o" aria-hidden="true"></i></a>
  </div>

</div>
